<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<%= form_with do |f| %>
    <%= f.label :name %>

    <%= f.text_field :name, class: 'form-control' %>
    <%= f.label :email %>
    <%= submit_tag "Sign up!" %>
<% end %>


