<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<%= form_with do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.text_field :password_digest, class: 'form-control' %>

    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation_digest, class: 'form-control' %>

    <%= submit_tag "Sign up!" %>

<% end %>


