<li id="rating-<%= rating.id %>">
  <span class="user"><%= link_to rating.user.name, rating.user %></span>
  <span class="content">Rating: <strong><%= rating.rating %></strong></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(rating.created_at) %> ago.
  </span>
  <% if rating.user == current_user %>
    <span class "edit-link"><%= link_to "Edit", edit_rating_path(rating) %></span>
  <% end %>
</li>