
<% provide(:title, 'All Ratings') %>
<h1>All Ratings</h1>

<% if @average != "No ratings yet"%>
  <h3> Average: <%= formatted_average(@average) %> </h3>

  <%= will_paginate %>
  <ul class="ratings">
      <%= render @ratings %>
  </ul>

  <%= will_paginate %>

<% else %>
  <%= render 'filter_empty' %>
<% end %>
