
<% provide(:title, 'All Ratings') %>
<h1>All Ratings</h1>
<h3> Average: <%= @average %> </h3>
<% if @ratings.nil? %>
  <%= render 'filter_empty' %>
  <% else %>

    <%= will_paginate %>
    <ul class="ratings">
      <% @ratings.each do |user| %>
        <%= render @ratings %>
      <% end %>
    </ul>

    <%= will_paginate %>

<% end %>
