<% provide(:title, 'All Ratings') %>
<h1>New Ratings</h1>

<%= form_with(model: @rating, local: true) do |f| %>
    <%= f.label :meeting_date %>
    <%= f.date_field(:meeting_date, :value => Time.now.strftime('%Y-%m-%d')) %>

    <%= f.label :rating %>
    <h5>Rate from 1 to 10</h5>
    <%= f.number_field(:rating, in: 1..10) %>
   

    <%= f.submit "Rate!", class: "btn btn-primary" %>

<% end %>