<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @rating.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @rating.user_id %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @rating.meeting %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
