<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
  <%= link_to "Rate My Meeting", '/', id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",   '/' %></li>
      <li><%= link_to "Rate",   '/ratings/new' %></li>
      <li><%= link_to "Ratings", 'ratings' %></li>

      <% if logged_in? %>
       <li><%= link_to "Log out", logout_path, method: :delete %></li>

      <% end %>

      <% if !logged_in? %>
        <li><%= link_to "Login",   '/login' %></li>
      <% end %>
    </ul>
  </nav>
</div>
<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
</header>